<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>About Data</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='dataPage.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	</head>
	<body>
		<header>
	      <div class="tag">
	        <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
	        <div>
	          <p>All you need to know about Airbnb in NYC</p>
	        </div>
	      </div>
	      <nav>
	        <a href="{{ url_for('dataPage') }}" class="page activePage">About the Data</a>
	        <a href="{{ url_for('overall') }}" class="page">Visualize Data</a>
	        <a href="{{ url_for('hostSearch') }}" class="page">For Hosts</a>
	        <a href="{{ url_for('listingSearch') }}" class="page">Listing Search</a>
	      </nav>
	    </header>

		<section>
		    <div class="data-summary">
              <h1 class="heading">Summary of Dataset</h1>
              <p>We use the
				 <a href="https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data"
				 target="_blank"> dataset</a>
				 “New York City Airbnb Open Data: Airbnb Listings
				 and Metrics in NYC, NY, USA (2019)” from Kaggle.com.</p>
              <p>Guests and hosts use Airbnb to expand on traveling
                 possibilities, and they present a more unique and personalized
                 way of experiencing the world. This dataset describes the listing
                 activities and metrics in NYC, NY for 2019. It includes all
                 needed information to find out more about hosts, geographical
                 availabilities, and necessary metrics to make predictions and
                 draw conclusions. </p>
              <p>The data is uploaded by Dgomonov, who acknowledged Airbnb’s
                 public release of the data. We also didn’t find any
                 restrictions on the terms of use for this dataset. We
                 downloaded version 3 of the dataset in csv format from
                 Kaggle.com on October 4th, 2019.</p>
            </div>
		</section>
		<section>
	        <div class="metadata">
	            <h1 class="heading">Metadata</h1>
	            <table>
	              <tr>
	                <th>Column Name</th>
	                <th>Column Description</th>
	              </tr>
	              <tr>
	                <td>id</td>
	                <td>listing ID</td>
	              </tr>
	              <tr>
	                <td>name</td>
	                <td>name of the listing</td>
	              </tr>
	              <tr>
	                <td>host_id</td>
	                <td>host ID</td>
	              </tr>
	              <tr>
	                <td>host_name</td>
	                <td>name of the host</td>
	              </tr>
	              <tr>
	                <td>neighbourhood_group</td>
	                <td>location</td>
	              </tr>
	              <tr>
	                <td>neighbourhood</td>
	                <td>area</td>
	              </tr>
	              <tr>
	                <td>latitude</td>
	                <td>latitude coordinates</td>
	              </tr>
	              <tr>
	                <td>longitude</td>
	                <td>longitude coordinates</td>
	              </tr>
	              <tr>
	                <td>room_type</td>
	                <td>listing space type</td>
	              </tr>
	              <tr>
	                <td>price</td>
	                <td>price in dollars</td>
	              </tr>
	              <tr>
	                <td>minimum_nights</td>
	                <td>amount of nights minimum</td>
	              </tr>
	              <tr>
	                <td>number_of_reviews</td>
	                <td>number of reviews</td>
	              </tr>
	              <tr>
	                <td>last_review</td>
	                <td>latest review</td>
	              </tr>
	              <tr>
	                <td>reviews_per_month</td>
	                <td>number of reviews per month</td>
	              </tr>
	              <tr>
	                <td>calculated_host_listings_count</td>
	                <td>amount of listing per host</td>
	              </tr>
	              <tr>
	                <td>availability_365</td>
	                <td>number of days when listing is available for booking</td>
	              </tr>
	            </table>
	        </div>
		</section>
		<section>
        <div class="data-example">
            <h1 class="heading">Example</h1>
            <table>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>host id</th>
                <th>host name</th>
                <th>neighbourhood group</th>
              </tr>
              <tr>
                <td>2539</td>
                <td>Clean and quiet apt home by the park</td>
                <td>2787</td>
                <td>John</td>
                <td>Brooklyn</td>
              </tr>
              <tr>
                <td>2595</td>
                <td>Skylit Midtown Castle</td>
                <td>2845</td>
                <td>Jennifer</td>
                <td>Manhattan</td>
              </tr>
              <tr>
                <td>3647</td>
                <td>THE VILLAGE OF HARLEM....NEW YORK !</td>
                <td>4632</td>
                <td>Elisabeth</td>
                <td>Manhattan</td>
              </tr>
          </table>
		  <br>
		  <table>
			<tr>
			  <th>neighbourhood</th>
			  <th>latitude</th>
			  <th>longitude</th>
			  <th>room type</th>
			  <th>price</th>
			  <th>minimum nights</th>
			</tr>
			<tr>
			  <td>Kensington</td>
			  <td>40.64749</td>
			  <td>-73.97237</td>
			  <td>Private room</td>
			  <td>149</td>
			  <td>1</td>
			</tr>
			<tr>
			  <td>Midtown</td>
			  <td>40.75362</td>
			  <td>-73.98377</td>
			  <td>Entire home/apt</td>
			  <td>225</td>
			  <td>1</td>
			</tr>
			<tr>
			  <td>Harlem</td>
			  <td>40.80902</td>
			  <td>-73.9419</td>
			  <td>Private room</td>
			  <td>150</td>
			  <td>3</td>
			</tr>
		  </table>
		  <br>
		  <table>
			<tr>
  			  <th>number of reviews</th>
  			  <th>last review</th>
  			  <th>reviews per month</th>
  			  <th>calculated host listings count</th>
  			  <th>availability 365</th>
			</tr>
			<tr>
  			  <td>9</td>
  			  <td>2018-10-19</td>
  			  <td>0.21</td>
  			  <td>6</td>
  			  <td>365</td>
			</tr>
			<tr>
  			  <td>45</td>
  			  <td>2019-05-21</td>
  			  <td>0.38</td>
  			  <td>2</td>
  			  <td>355</td>
			</tr>
			<tr>
  			  <td>0</td>
  			  <td>-</td>
  			  <td>-</td>
  			  <td>1</td>
  			  <td>365</td>
			</tr>
		  </table>
        </div>
		</section>
    </body>
</html>
