<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='hostPage.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="">
</head>
<header>
    <div class="tag">
      <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
      <div>
        <p>All you need to know about Airbnb in NYC</p>
      </div>
    </div>
    <nav>
      <a href="{{ url_for('dataPage') }}" class="change">About the Data</a>
      <a href="{{ url_for('overall') }}" class="change">Visualize Data</a>
      <a href="{{ url_for('hostSearch') }}" class="change active-page">For Hosts</a>
      <a href="{{ url_for('listingSearch') }}" class="change">Listing Search</a>
    </nav>
</header>
<body>
<section>
    <div class="clearfix">
    <p><strong>{{msg}}</strong></p>
    </div>
</section>
</body>
</html>
