<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Airbnb in NYC</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='homePage.css') }}">
</head>
<body>
  <header>
    <div class="tag">
      <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
      <div>
        <p>All you need to know about Airbnb in NYC</p>
      </div>
    </div>
    <nav>
      <a href="{{ url_for('dataPage') }}" class="change">About the Data</a>
      <a href="{{ url_for('overall') }}" class="change">Visualize Data</a>
      <a href="{{ url_for('hostSearch') }}" class="change">For Hosts</a>
      <a href="{{ url_for('listingSearch') }}" class="change">Listing Search</a>
    </nav>
  </header>
  <section>
    <p class="opening">
      Gain valuable insights into the performance of over 40 thousands airbnb houses across New York City. This site allows travellers, Airbnb host and people who work in the tourism industry to choose a satisfying housing and better understand the critical trends of Airbnb housing market in New York City in a easy and straight-forward manner.
    </p>
    <img src="{{ url_for('static', filename='airbnb.png') }}" alt="A logo of Airbnb" style="border-radius: 50%;" class="opening">
  </section>
  <div id = "audiences">
    <div class = "audience">
      <h2><a href="{{ url_for('hostSearch') }}" class="change">Hosts</a></h3>
        <ul>
          <li>
            Understanding performance of similar listings
          </li>
          <li>
            Getting knowledge of reasonable prices within current neighborhoods
          </li>
        </ul>
      </div>
      <div class = "audience">
        <h2><a href="#" class="change">Tourists</a></h3>
          <ul>
            <li>
              Reviewing the popular housing and availability to figure out where to stay
            </li>
            <li>
              Comparing and Contrasting among various neighborhoods
            </li>
            <li>
              Knowing reasonable price in certain neighborhood
            </li>
          </ul>
        </div>
        <div class = "audience">
          <h2><a href="#" class="change">Business Owner</a></h3>
            <ul>
              <li>
                Knowing average price of neighborhoods to determine the location of their target customers
              </li>
            </ul>
          </div>
          <div class = "audience">
            <h2><a href="{{ url_for('overall') }}" class="change">Investigators/ Researchers</a></h3>
              <ul>
                <li>
                  Knowing trends of pricing according to neighborhood variation
                </li>
                <li>
                  Research in what price of housing relates to
                </li>
              </ul>
            </div>
          </div>

        </body>
        </html>
