<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sample Landlord Result Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='hostPage.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  </head>
<body>
    <header>
      <div class="tag">
        <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
        <div>
          <p>All you need to know about Airbnb in NYC</p>
        </div>
      </div>
      <nav>
        <a href="{{ url_for('dataPage') }}" class="change">About the Data</a>
        <a href="{{ url_for('overall') }}" class="change">Visualize Data</a>
        <a href="{{ url_for('hostSearch') }}" class="change active-page">For Hosts</a>
        <a href="#" class="change">Contact</a>
      </nav>
    </header>

    <section>
      <div class="clearfix">
        <h1 class="heading">Result</h1>
        <img class="pic" src="avatar.png" alt="avatar" width="150" height="150">
        <div class="user_info">
          <p>Host ID: {{ results[0].getHostId() }}</p>
          <p>Host name: {{ results[0].getHostName() }}</p>
        </div>

      </div>
    </section>

{% for result in results %}
    <section class="mapSection">
        <p>Number of Reviews: {{ result.getNumReviews() }}</p>
          <p>Review Per Month: {{ result.getReviewsPerMonth() }}</p>
      <h2>Houses in the same neighborhood with the same room type</h2>
    <div id="{{ result.getListingId() }}"  style=" height: 375px"></div>
    </section>

    <script>
       var mymap = L.map('{{ result.getListingId() }}').setView([40.640610, -73.975242], 13);
       L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiemhhbmdzMTIzIiwiYSI6ImNrMXR6NjZobzAweW0zY3BrcnB4YmF6M3YifQ.nHmNai_UTcEJdy1VTbCXfg', {
         attribution: '',
         maxZoom: 18,
         id: 'mapbox.streets',
         accessToken: 'your.mapbox.access.token'
       }).addTo(mymap);
       var locations = [];
       console.log('db returns: '+{{database.getSameHouseType(result.getNbh(), result.getRoomType())|length}})
       {% for listing in database.getSameHouseType(result.getNbh(), result.getRoomType()) %}
       locations.push(["{{ listing.getListingName() }}", {{ listing.getLatitude() }}, {{ listing.getLongitude() }}])
       console.log(locations)
       {% endfor %}
       console.log(locations)
       var customPopup = "<p><strong>{{result.getListingName()}}</strong></p><strong>{{result.getListingId()}}</strong></p>" +
           "<p>{{result.getNbhGroup()}}</p><p>{{result.getRoomType()}}</p>" +
           "<strong>{{result.getPrice()}}</strong></p>{{result.getMinNights()}}</p><p>{{result.getReviewsPerMonth()}}</p><p>{{result.getNumAvailableDays()}}</p>";
       var arrLen = locations.length;
       var customOptions = {
           'maxWidth': '500',
           'className': 'custom'
       }
       for (var i = 0; i < locations.length; i++) {
           var marker = L.marker([locations[i][1],locations[i][2]]).addTo(mymap);
           marker.bindPopup(customPopup,customOptions).openPopup();
        }
        var marker = L.marker([51.5, -0.09]).addTo(mymap);
    </script>
{% endfor %}
</body>
</html>
