<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sample Landlord Result Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='overallPage.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="">
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
</head>
<body>
  <header>
    <div class="tag">
      <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
      <div>
        <p>All you need to know about Airbnb in NYC</p>
      </div>
    </div>
    <nav>
      <a href="{{ url_for('dataPage') }}" class="change">About the Data</a>
      <a href="#" class="change active-page">Visualize Data</a>
      <a href="{{ url_for('hostSearch') }}" class="change">For Hosts</a>
      <a href="{{ url_for('listingSearch') }}" class="change">Listing Search</a>
    </nav>
  </header>

  <section>
    <h3>
      Have a better understanding of how Airbnb is really being used and how it impacts your neighborhood.
    </h3>
  </section>

  <section>
   <div class="info">
    <div>
      <h3>Activity</h3>
      <p>Airbnb guests may leave a review after their stay about how they think about this listing. Even though not
          every leave a review, popular listings tend to have more reviews.</p>
      <div class="data">
        <div id="price_dataviz" class="dataviz"></div>
        <div>
          <ul>
            <li>On average {{ average_reviews_per_month }} reviews/listing/month</li>
            <li>Total {{ total_reviews }} reviews</li>
            <li>On average ${{ average_price }} price/night</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h3>Room Type</h3>
      <p>Airbnb hosts can list entire homes/apartments, private or shared rooms.
      Airbnb guest can choose what type of listing they want.</p>
      <div class="data">
        <div id="room_type_dataviz" class="dataviz"></div>
        <div>
          <ul>
            <li>{{ entire_home_count }} entire home/apartments</li>
            <li>{{ private_room_count }} private roome</li>
            <li>{{ shared_room_count }} shared rooms</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
    <div>
      <h3>Availability</h3>
      <p>An Airbnb host can setup a calendar for their listing that will show the availability of this listing.
      Somel listings are available all year round while some only for a few weeks or days.</p>
      <div class="data">
        <div id="availability_dataviz" class="dataviz"></div>
        <div>
          <ul>
            <li>On average {{ average_availability }} days/year</li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <h3>Listings per Host</h3>
      <p>Some Airbnb hosts have multiple listings and others have only one listing.
      A host may list separate rooms in the same apartment, or multiple apartments or homes available in their entirety.</p>
      <div class="data">
        <div id="listing_per_host_dataviz" class="dataviz"></div>
        <div>
          <ul>
            <li>{{ host_single_count }} hosts with single listings</li>
            <li>{{ host_multiple_count }} hosts with multi listings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mapSection">
  <h2>Houses in the same neighborhood with the same room type</h2>
  <div id="mapid"></div>
</section>
<script src="https://d3js.org/d3.v4.js"> </script>
<script>
  {#var myIcon = L.icon({#}
  {#  iconUrl: '{{ url_for('static', filename='icon1.png') }}',#}
  {#  iconSize:     [6, 6],#}
  {#  iconAnchor:   [22, 94],#}
  {#  iconAnchor:   [6, 6],#}
  {#  popupAnchor:  [-3, -6]#}
  {#});#}
  {#var myIcon1 = L.icon({#}
  {#  iconUrl: '{{ url_for('static', filename='icon2.png') }}',#}
  {#  iconSize:     [6, 6],#}
  {#  iconAnchor:   [22, 94],#}
  {#  iconAnchor:   [6, 6],#}
  {#  popupAnchor:  [-3, -6]#}
  {#});#}
  {#var myIcon2 = L.icon({#}
  {#  iconUrl: '{{ url_for('static', filename='icon3.jpg') }}',#}
  {#  iconSize:     [6, 6],#}
  {#  iconAnchor:   [22, 94],#}
  {#  iconAnchor:   [6, 6],#}
  {#  popupAnchor:  [-3, -6]#}
  {#});#}
  {#var entire_home_apt = new L.LayerGroup();#}
  {#var private_room = new L.LayerGroup();#}
  {#var shared_room = new L.LayerGroup();#}
  {#var mymap = L.map('mapid').setView([40.730610, -73.975242], 11);#}
  {#L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiemhhbmdzMTIzIiwiYSI6ImNrMXR6NjZobzAweW0zY3BrcnB4YmF6M3YifQ.nHmNai_UTcEJdy1VTbCXfg', {#}
  {# attribution: '',#}
  {# maxZoom: 18,#}
  {# id: 'mapbox.streets',#}
  {# accessToken: 'your.mapbox.access.token'#}
  {#}).addTo(mymap);#}
  {##}
  {#var locations_entire = [];#}
  {#var locations_private = [];#}
  {#var locations_shared = [];#}
  {#{% for listing in entire_listings_list %}#}
  {#locations_entire.push(["{{ listing.getListingName() }}", {{ listing.getLatitude() }}, {{ listing.getLongitude() }},#}
  {#  "{{ listing.getListingName() }}","{{ listing.getListingId() }}","{{ listing.getNbhGroup() }}",#}
  {#  "{{ listing.getRoomType() }}","{{ listing.getPrice() }}","{{ listing.getMinNights() }}","{{ listing.getReviewsPerMonth() }}",#}
  {#  "{{ listing.getNumAvailableDays() }}"])#}
  {#{% endfor %}#}
  {#{% for listing in private_listings_list %}#}
  {#locations_private.push(["{{ listing.getListingName() }}", {{ listing.getLatitude() }}, {{ listing.getLongitude() }},#}
  {#  "{{ listing.getListingName() }}","{{ listing.getListingId() }}","{{ listing.getNbhGroup() }}",#}
  {#  "{{ listing.getRoomType() }}","{{ listing.getPrice() }}","{{ listing.getMinNights() }}","{{ listing.getReviewsPerMonth() }}",#}
  {#  "{{ listing.getNumAvailableDays() }}"])#}
  {#{% endfor %}#}
  {#{% for listing in shared_listings_list %}#}
  {#locations_shared.push(["{{ listing.getListingName() }}", {{ listing.getLatitude() }}, {{ listing.getLongitude() }},#}
  {#  "{{ listing.getListingName() }}","{{ listing.getListingId() }}","{{ listing.getNbhGroup() }}",#}
  {#  "{{ listing.getRoomType() }}","{{ listing.getPrice() }}","{{ listing.getMinNights() }}","{{ listing.getReviewsPerMonth() }}",#}
  {#  "{{ listing.getNumAvailableDays() }}"])#}

  {#{% endfor %}#}
  {##}
  {#  // specify popup options#}
  {#  var customOptions =#}
  {#  {#}
  {#    'maxWidth': '500',#}
  {#    'className' : 'custom'#}
  {#  }#}
  {#  for (var i = 0; i < locations_entire.length; i++) {#}
  {#   // create popup contents#}
  {#   var customPopup_entire = "<div class='popup'><p><strong>"+locations_entire[i][3]+"</strong></p><p>"+locations_entire[i][4]+"</p>" +#}
  {#   "<p>"+locations_entire[i][5]+"</p><p>"+locations_entire[i][6]+"</p>" +#}
  {#   "<p><u>$"+locations_entire[i][7]+"</u>/night</p><p><u>"+locations_entire[i][8]+"</u> night minimum</p>"  +#}
  {#   "<p><u>"+locations_entire[i][9]+"</u> reviews/month</p><p>Available <u>"+locations_entire[i][10]+"</u> days"+"/year </p></div>";#}
  {#   marker_entire = L.marker([locations_entire[i][1],locations_entire[i][2]], {icon: myIcon}).bindPopup(customPopup_entire,customOptions).addTo(entire_home_apt);#}
  {#      marker_entire = L.marker([locations_entire[i][1],locations_entire[i][2]], {icon: myIcon}).addTo(entire_home_apt);#}
  {#  }#}
  {#  for (var i = 0; i < locations_private.length; i++) {#}
  {#   var customPopup_private = "<div class='popup'><p><strong>"+locations_private[i][3]+"</strong></p><p>"+locations_private[i][4]+"</p>" +#}
  {#   "<p>"+locations_private[i][5]+"</p><p>"+locations_private[i][6]+"</p>" +#}
  {#   "<p><u>$"+locations_private[i][7]+"</u>/night</p><p><u>"+locations_private[i][8]+"</u> night minimum</p>"  +#}
  {#   "<p><u>"+locations_private[i][9]+"</u> reviews/month</p><p>Available <u>"+locations_private[i][10]+"</u> days"+"/year </p></div>";#}
     {#marker_private = L.marker([locations_private[i][1],locations_private[i][2]], {icon: myIcon1}).bindPopup(customPopup_private,customOptions).addTo(private_room);#}
  {#      marker_private = L.marker([locations_private[i][1],locations_private[i][2]], {icon: myIcon1}).bindPopup(customPopup_private,customOptions).addTo(private_room);#}
  {#  }#}
  {#  for (var i = 0; i < locations_shared.length; i++) {#}
  {#   var customPopup_shared = "<div class='popup'><p><strong>"+locations_shared[i][3]+"</strong></p><p>"+locations_shared[i][4]+"</p>" +#}
  {#   "<p>"+locations_shared[i][5]+"</p><p>"+locations_shared[i][6]+"</p>" +#}
  {#   "<p><u>$"+locations_shared[i][7]+"</u>/night</p><p><u>"+locations_shared[i][8]+"</u> night minimum</p>"  +#}
  {#   "<p><u>"+locations_shared[i][9]+"</u> reviews/month</p><p>Available <u>"+locations_shared[i][10]+"</u> days"+"/year </p></div>";#}
     {#marker_shared = L.marker([locations_shared[i][1],locations_shared[i][2]], {icon: myIcon2}).bindPopup(customPopup_shared,customOptions).addTo(shared_room);#}
  {#      marker_shared = L.marker([locations_shared[i][1],locations_shared[i][2]], {icon: myIcon2}).bindPopup(customPopup_shared,customOptions).addTo(shared_room);#}
  {#  }#}
  {##}
  {# mymap.addLayer(entire_home_apt);#}
  {# mymap.addLayer(private_room);#}
  {# mymap.addLayer(shared_room);#}
  {# var overlayMaps = {#}
  {#  "Entire home/apt": entire_home_apt,#}
  {#  "Private room":private_room,#}
  {#  "Shared room":shared_room,#}
  {#};#}
  {#L.control.layers(null, overlayMaps).addTo(mymap);#}
</script>
  <script>

// set the dimensions and margins of the graph
var width = 270
    height = 110
    margin = {top:10,right:40,bottom:10,left:100};

// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
var radius = 200 / 2 - 60

// append the svg object to the div called 'my_dataviz'
var svg = d3.select("#price_dataviz")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

// Create dummy data
var data = {"$0-$100": {{ price_dict[0] }}, "$100-$200": {{ price_dict[1] }}, ">$200":{{ price_dict[2] }}}
console.log({{price_dict}});
// set the color scale
var color = d3.scaleOrdinal()
  .domain(data)
  .range(["#00A699", "#FF5A5F", "#484848"])

// Compute the position of each group on the pie:
var pie = d3.pie()
  .value(function(d) {return d.value; })
var data_ready = pie(d3.entries(data))
var arc = d3.arc().innerRadius(radius*0.5).outerRadius(radius*0.8)
var outerArc = d3.arc().innerRadius(radius*1.0).outerRadius(radius*1.0)
// Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
svg
  .selectAll('whatever')
  .data(data_ready)
  .enter()
  .append('path')
  .attr('d', d3.arc()
    .innerRadius(20)         // This is the size of the donut hole
    .outerRadius(radius)
  )
  .attr('fill', function(d){ return(color(d.data.key)) })
  .attr("stroke", "black")
  .style("stroke-width", "2px")
  .style("opacity", 0.7)

// Add the polylines between chart and labels:
svg
  .selectAll('allPolylines')
  .data(data_ready)
  .enter()
  .append('polyline')
    .attr("stroke", "black")
    .style("fill", "none")
    .attr("stroke-width", 1)
    .attr('points', function(d) {
      var posA = arc.centroid(d) // line insertion in the slice
      var posB = outerArc.centroid(d) // line break: we use the other arc generator that has been built only for that
      var posC = outerArc.centroid(d); // Label position = almost the same as posB
      var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2 // we need the angle to see if the X position will be at the extreme right or extreme left
      posC[0] = radius * 0.95 * (midangle < Math.PI ? 1 : -1); // multiply by 1 or -1 to put it on the right or on the left
      return [posA, posB, posC]
    })

// Add the polylines between chart and labels:
svg
  .selectAll('allLabels')
  .data(data_ready)
  .enter()
  .append('text')
    .text( function(d) { console.log(d.data.key) ; return d.data.key } )
    .attr('transform', function(d) {
        var pos = outerArc.centroid(d);
        var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
        pos[0] = radius * 0.99 * (midangle < Math.PI ? 1 : -1);
        return 'translate(' + pos + ')';
    })
    .style('text-anchor', function(d) {
        var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
        return (midangle < Math.PI ? 'start' : 'end')
    })
</script>
<script>
    // create 2 data_set
    var data1 = [
    {group: "Entire home/apt", value: {{entire_home_count}}},
    {group: "Private room", value: {{private_room_count}}},
    {group: "Shared room", value: {{shared_room_count}}}
    ];

    // set the dimensions and margins of the graph
    var margin = {top: 2, right: 2, bottom: 20, left: 40},
    width = 270 - margin.left - margin.right,
    height = 120 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg1 = d3.select("#room_type_dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

    // X axis
    var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(data1.map(function(d) { return d.group; }))
    .padding(0.2);
    svg1.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

    // Add Y axis
    var y = d3.scaleLinear()
    .domain([0, 28000])
    .range([ height, 0]);
    svg1.append("g")
    .attr("class", "myYaxis")
    .call(d3.axisLeft(y).ticks(2, "f"))
    .text("num of listings");

    // A function that create / update the plot for a given variable:
    function update(data) {

      var u = svg1.selectAll("rect")
      .data(data)

      u
      .enter()
      .append("rect")
      .merge(u)
      .transition()
      .duration(1000)
      .attr("x", function(d) { return x(d.group); })
      .attr("y", function(d) { return y(d.value); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.value); })
      .attr("fill", "#00A699")
    }

    // Initialize the plot with the first dataset
    update(data1)

  </script>
  <script>//
    // create 2 data_set
    var listings1 = [];
    var availabilityListings = {};

    var maxNumListing = 0;
    var count = 1;
    console.log({{availability_dict}});
    {% for key, value in availability_dict.items() %}
    if ({{key}}>maxNumListing) {
     maxNumListing = {{key}};
    }
    availabilityListings[{{key}}]={{value}};
   {% endfor %}
  console.log({{ availability_dict }});

   while (count<366){
    if (count in availabilityListings){
      listings1.push({group:count,value:availabilityListings[count]});
    }else{
      listings1.push({group:count,value:0});
    }
    count += 1;
    }

    // set the dimensions and margins of the graph
    var margin = {top: 2, right: 2, bottom: 32, left: 50},
    width = 270 - margin.left - margin.right,
    height = 140 - margin.top - margin.bottom;

    // append the svg3 object to the body of the page
    var svg2 = d3.select("#availability_dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

    // X axis
    var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(listings1.map(function(d) { return d.group; }));
    svg2.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x).tickValues([0,50,100,150,200,250,300,350]));
    svg2.append("text")
      .attr("transform",
            "translate(" + (width/2) + " ," +
                           (height + margin.top + 27) + ")")
      .style("text-anchor", "middle")
      .text("num of days available in a year");

    // Add Y axis
    var y = d3.scaleLinear()
    .domain([0, 500])
    .range([ height, 0]);
    svg2.append("g")
    .attr("class", "myYaxis")
    .call(d3.axisLeft(y).ticks(3));
    svg2.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("num of listings");
    // A function that create / update the plot for a given variable:
    function update(data) {

      var u = svg2.selectAll("rect")
      .data(data);

      u
      .enter()
      .append("rect")
      .merge(u)
      .transition()
      .duration(1000)
      .attr("x", function(d) { return x(d.group); })
      .attr("y", function(d) { return y(d.value); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.value); })
      .attr("fill", "#00A699");
    }

    // Initialize the plot with the first dataset
    update(listings1)

  </script>
  <script>
    // create 2 data_set
    var listings = [];
    var hostListings = {};

    var maxNumListing = 0;
    var count = 2;
    console.log({{host_listings}});
    {% for key, value in host_listings.items() %}
    if ({{key}}>maxNumListing) {
     maxNumListing = {{key}};
    }
    hostListings[{{key}}]={{value}};
    {% endfor %}

   while (count<11){
    if (count in hostListings){
      listings.push({group:count,value:hostListings[count]});
    }else{
      listings.push({group:count,value:0});
    }
    count += 1;
    }

    // set the dimensions and margins of the graph
    var margin = {top: 2, right: 2, bottom: 20, left: 55},
    width = 270 - margin.left - margin.right,
    height = 140 - margin.top - margin.bottom;

    // append the svg3 object to the body of the page
    var svg3 = d3.select("#listing_per_host_dataviz")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
      "translate(" + margin.left + "," + margin.top + ")");

    // X axis
    var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(listings.map(function(d) { return d.group; }));
    svg3.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .text("num of hosts");

    // Add Y axis
    var y = d3.scaleLinear()
    .domain([0, 3400])
    .range([ height, 0]);
    svg3.append("g")
    .attr("class", "myYaxis")
    .call(d3.axisLeft(y).ticks(5, "f"));

    svg3.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("listings per host");

    // A function that create / update the plot for a given variable:
    function update(data) {

      var u = svg3.selectAll("rect")
      .data(data);

      u
      .enter()
      .append("rect")
      .merge(u)
      .transition()
      .duration(1000)
      .attr("x", function(d) { return x(d.group); })
      .attr("y", function(d) { return y(d.value); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.value); })
      .attr("fill", "#00A699");
    }

    // Initialize the plot with the first dataset
    update(listings)

  </script>
</body>
</html>
