<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Listing Search Results</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='searchPage.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="">
  <!-- Load leaflet.js -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
</head>
<body>
  <header>
    <div class="tag">
      <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
      <div>
        <p>All you need to know about Airbnb in NYC</p>
      </div>
    </div>
    <nav>
      <a href="{{ url_for('dataPage') }}" class="page">About the Data</a>
      <a href="{{ url_for('overall') }}" class="page">Visualize Data</a>
      <a href="{{ url_for('hostSearch') }}" class="page">For Hosts</a>
      <a href="{{ url_for('listingSearch') }}" class="page activePage">Listing Search</a>
    </nav>
  </header>

  <section class="mapSection">
    <form action="{{ url_for('listingSearch') }}">
      <input type="submit" value="Back to Listing Search" />
    </form>
    <h1 class="heading">Result</h1>
    <p><strong>Below are listings that satisfiy the search criterion. If more
     than 100 listings are found, we display the first 100 listings
     with the most number of reviews.</strong></p>
    <p>Click on markers on the map to display the information about the marked
     listings</p>
    <div id="my_dataviz" class="mapid"></div>
  </section>


  <script>
    // Using Leaflet API: https://leafletjs.com
    // Initialize map to show listings
    var mymap = L.map('my_dataviz').setView([40.720610, -73.975242], 11);

    // Add map top layer
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiemhhbmdzMTIzIiwiY' +
        'SI6ImNrMXR6NjZobzAweW0zY3BrcnB4YmF6M3YifQ.nHmNai_UTcEJdy1VTbCXfg', {
      attribution: '',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'your.mapbox.access.token'
    }).addTo(mymap);

    // Get locations for all listings to display
    var locations = [];
    {% for listing in results %}
    locations.push(["{{ listing.getListingName() }}", {{ listing.getLatitude() }},
      {{ listing.getLongitude() }}, "{{ listing.getListingName() }}",
      "{{ listing.getListingId() }}", "{{ listing.getPrice() }}",
       "{{ listing.getMinNights() }}", "{{ listing.getReviewsPerMonth() }}",
      "{{ listing.getNumAvailableDays() }}"])
    {% endfor %}

    // Add popup for listing information
    var arrLen = locations.length;
    var customOptions = {
      'maxWidth': '500',
      'className': 'custom'
    }
    for (var i = 0; i < locations.length; i++) {
      var customPopup = "<div class='popup'><h2><strong>"+locations[i][3]+
      "</strong></h2><p>listing id:"+locations[i][4]+"</p>" +
      "<p><u>$"+locations[i][5]+"</u>/night</p><p><u>"+locations[i][6]+
      "</u> night minimum</p>"+"<p><u>"+locations[i][7]+
      "</u> reviews/month</p><p>Available <u>"+locations[i][8]+
      "</u> days"+"/year </p></div>";
      var marker = L.marker([locations[i][1],locations[i][2]]).addTo(mymap);
      marker.bindPopup(customPopup,customOptions);
    }
  </script>

</body>
</html>
