<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sample Landlord Result Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='searchPage.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
  </head>
  <body>
    <header>
      <div class="tag">
        <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
        <div>
          <p>All you need to know about Airbnb in NYC</p>
        </div>
      </div>
      <nav>
        <a href="{{ url_for('dataPage') }}" class="change">About the Data</a>
        <a href="{{ url_for('overall') }}" class="change">Visualize Data</a>
        <a href="{{ url_for('hostSearch') }}" class="change">For Hosts</a>
        <a href="{{ url_for('listingSearch') }}" class="change active-page">Listing Search</a>
      </nav>
    </header>

    <section>
      <div class="user_input">
        <form class="database" action="{{url_for('listingResult')}}" method="POST">
          Host ID: <input type="text" name="id"><br>
          Min price/night: <input type="text" name="min price"><br>
          Max price/night: <input type="text" name="max price"><br>
          <p>Neighborhood Group:</p>
          <input type="radio" name="neighborhood group" value="Brooklyn"> Brooklyn<br>
          <input type="radio" name="neighborhood group" value="Manhattan"> Manhattan<br>
          <input type="radio" name="neighborhood group" value="Queens"> Queens<br>
          <input type="radio" name="neighborhood group" value="Staten Island"> Staten Island<br>
          <input type="radio" name="neighborhood group" value="Bronx"> Bronx<br>
          <p>Room Type:</p>
          <input type="radio" name="room type" value="Entire home/apt"> Entire home/apt<br>
          <input type="radio" name="room type" value="Private room"> Private room<br>
          <input type="radio" name="room type" value="Shared room"> Shared room<br>
            <input type = "submit" value = "Search" />
        </form>
      </div>
    </section>

</body>
</html>
