<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sample Landlord Result Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='searchPage.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin="">
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
  integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
  crossorigin=""></script>
</head>
<body>
  <header>
    <div class="tag">
      <a href = "{{ url_for('homePage') }}"><h1>Airbnb in NYC</h1></a>
      <div>
        <p>All you need to know about Airbnb in NYC</p>
      </div>
    </div>
    <nav>
      <a href="{{ url_for('dataPage') }}" class="change">About the Data</a>
      <a href="{{ url_for('overall') }}" class="change">Visualize Data</a>
      <a href="{{ url_for('hostSearch') }}" class="change active-page">For Hosts</a>
      <a href="{{ url_for('listingSearch') }}" class="change">Listing Search</a>
    </nav>
  </header>

  <section>
    <h1 class="heading">Result</h1>
      <div id="my_dataviz" class="dataviz"></div>
  </section>

{% for listing in results %}
<script>
   var mymap = L.map('{{ listing.getListingId() }}').setView([40.720610, -73.975242], 10);
   L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiemhhbmdzMTIzIiwiYSI6ImNrMXR6NjZobzAweW0zY3BrcnB4YmF6M3YifQ.nHmNai_UTcEJdy1VTbCXfg', {
     attribution: '',
     maxZoom: 18,
     id: 'mapbox.streets',
     accessToken: 'your.mapbox.access.token'
   }).addTo(mymap);
   var locations = [];

   locations.push(["{{ listing.getListingName() }}", {{ listing.getLatitude() }}, {{ listing.getLongitude() }},
     "{{ listing.getListingName() }}","{{ listing.getListingId() }}","{{ listing.getNbhGroup() }}",
     "{{ listing.getRoomType() }}","{{ listing.getPrice() }}","{{ listing.getMinNights() }}","{{ listing.getReviewsPerMonth() }}",
     "{{ listing.getNumAvailableDays() }}"])

   var arrLen = locations.length;
   var customOptions = {
     'maxWidth': '500',
     'className': 'custom'
   }
   for (var i = 0; i < locations.length; i++) {
     var customPopup = "<div class='popup'><p><strong>"+locations[i][3]+"</strong></p><p>"+locations[i][4]+"</p>" +
     "<p>"+locations[i][5]+"</p><p>"+locations[i][6]+"</p>" +
     "<p><u>$"+locations[i][7]+"</u>/night</p><p><u>"+locations[i][8]+"</u> night minimum</p>"  +
     "<p><u>"+locations[i][9]+"</u> reviews/month</p><p>Available <u>"+locations[i][10]+"</u> days"+"/year </p></div>";
     var marker = L.marker([locations[i][1],locations[i][2]]).addTo(mymap);
     marker.bindPopup(customPopup,customOptions);
   }
 </script>
 {% endfor %}
</body>
</html>
